<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<div>

	<% if @animals.count == 0 %>
		  <%= "Este zoologico no tiene animales" %>
	<% end %>

	<div class = "animals_box">
		<% @animals.each do |a|  %>
			<dir class = "row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class = "animal_box">
							<div class = "animal_img">
								<%  @tipo = a.tipo   %>
								<%  @ruta = @tipo + ".jpg"   %>
								<%= link_to image_tag(@ruta, :class=> "img_animal"), animal_path(a) %>
								<div class = "animal_inf">
								<p class = "animal_nombre"> <%= "Nombre:  "  %>	<%= a.nombre  %>	</p>
								<p class = "animal_tipo"> <%= "Tipo:  "  %>	<%= a.tipo  %>	</p>
								<p class = "animal_ori"> <%= "Origen:  "  %>	<%= a.country_name %>	</p>
								<p class = "animal_descri"><%= "Descripcion:  "  %>	<%= a.comentarios %></p>
								<p><a href=<%=edit_animal_path(a)%> class="btn btn-primary" role="button">Editar</a> 
								<a role= "button"> <%= button_to "Borrar Animal", animal_path(a), method: :delete, data: { confirm: 'Are you sure?' }%>
								</a>

								</p>

								</div>	
							</div>
						</div>
					</div>
				</div>
			</dir>
		<%end%>
	</div>	


	



	<div class = "bottom">
		<button type="button" class="btn btn-default navbar-btn"><%= link_to "Agregar Animal", new_animal_path%></button>
	</div>
	
</div>