
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<div>
	<h1 class="header">  <%= @animal.nombre %> </h1>



			<div class = "col-md-4 animal_show">
				<div class = "animal_img">
						<%  @tipo = @animal.tipo   %>
						<%  @ruta = @tipo + ".jpg"   %>
						<%= image_tag(@ruta, :class=> "img_animal") %>
				</div>	


				<div class = "animal_inf">

					<p class = "animal_tipo"> <%= "Tipo:  "  %>	<%= @animal.tipo  %>	</p>

					<p class = "animal_nac"> <%= "Fecha de Nacimiento:  "  %>	<%= @animal.nacimiento %>	</p>

					<p class = "animal_ori"> <%= "Origen:  "  %>	<%= @animal.country_name  %>	</p>

					<p class = "animal_comm"> <%= "Comentarios:  "  %>	<%= @animal.comentarios %>	</p>	
				
				</div>	

			</div>	

			<div class = "footer">
				<%= button_to "Volver", animals_path, method: :get%>
				<%= button_to "Editar ", edit_animal_path(@animal), method: :get%>
			</div>
			
	
</div>